gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
# Las llaves ahora se suben a GitHub para compilar en Colab automáticamente
# key.properties
# **/*.keystore
# **/*.jks
